<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quizmaster - O Nas</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<%- include navbar.ejs %>
		
		<div class="topic2">
			<div class="topic_name">
					O nas
			</div>
			
			<div class="container" style="font-size: 20px; margin-top: 2%;">
				<p>	Quizmaster to miejsce gdzie możesz sprawdzić swoją wiedzę w quizach stworzonych przez innych użytkowników. </p>
				<p> Rozwiązuj quizy oraz dodawaj swoje własne by inni mogli także wykazać się dzięki tobie wiedzą. </p>
				<p> Twórca aplikacji: Janusz Erazmus. </p>
				<p> Opiekun pracy: dr hab. Zygmunt Mazur, prof. PWr.</p>
				<p> Recenzent pracy: dr inż. Wojciech Thomas</p>
				<p> Portal powstał w ramach Pracy Dyplomowej na Politechnice Wrocławskiej, Wydział Informatyki i Zarządzania. </p>
				
				<img src="http://how2play.pl/wp-content/uploads/2015/11/znak-zapytania2.jpg" alt="???" style="width: 400px; height: 250px;"></img>
				<br>
				<br>
			</div>
		</div>
		<br>
	</body>
</html>