<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quizmaster</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<%- include navbar.ejs %>
		
		<div class="topic" style="background-image: url('https://0.s3.envato.com/files/107002532/flat7_prev.jpg'); background-size: 100% 100%;">
                <div class="container">
                    <div class="col-md-12">
                        <h3>Quizmaster</h3>
                        <h4>Quiz w którym możesz sprawdzić swoją wiedzę</h4>
                    </div>
                </div>
                <div class="topic__infos">
                    <div class="container">
                        Rywalizuj z graczami z całego świata i pomóż nam stworzyć zgraną społeczność!
                    </div>
                </div>
            </div>
		</div>
		
		<div class="topic2">
			<div class="topic_name">
					Najnowsze Quizy
			</div>
			
			<div class="row" style="margin-top: 2%; width: 100%;">
				<% for(var i = 0; i < quiz.length; i++) { %>
					<div class='col-sm-6 col-md-4'>
						<div class='thumbnail' id="quiz_browse">
							<div class='caption'>
								<h3 style="margin-top: 0; font-weight: bold; border-bottom: 1px solid black;"><%= quiz[i].name %></h3>
								<p> <%=quiz[i].description %></p>
								<p> Kategoria: <%= category_names[i] %></p>
								<p> Ilość pytań: <%= number_of_questions[i] %></p>
								<p> Poziom trudności:
									<div class="progress" style="width:80%; text-align: center; margin: auto;">
										<% var class_string = "progress-bar progress-bar-success"; var diff = "Łatwy";%>
											<% if(difficulty[i] > 39) { class_string = "progress-bar progress-bar-warning"; diff = "Średni";} %>
											<% if(difficulty[i] > 69) { class_string = "progress-bar progress-bar-danger"; diff = "Trudny";} %>
											<div class="<%=class_string%>" role="progressbar" aria-valuenow="<%=difficulty[i]%>"
											aria-valuemin="0" aria-valuemax="100" style="width:<%=difficulty[i]%>%; font-size: 16px; color: rgb(180,5,5);">
											<%=diff%>*
										</div>
									</div>
									*Na podstawie odpowiedzi graczy.
								</p>
								<% if (!logged) { %>
									<button style="width: 50%; position: absolute; left: 25%; bottom: 2%;" class="btn btn-primary disabled">Zaloguj się</button>
								<% } else { %>
									<form class="form-horizontal" action="/loadquiz" method="post">
										<input type="hidden" value=<%= quiz[i].quizID %> name="load_quiz_ID"/>
										<input type="hidden" value="<%= quiz[i].name %>" name="load_quiz_name" maxlength="100"/>
										<button style="width: 50%; position: absolute; left: 25%; bottom: 2%;" class="btn btn-primary">Rozwiąż</button>
									</form>
								<% } %>
							</div>
						</div>
					</div>
				<% } %>
			</div>
			<div class="row" style="width: 100%;">
				<p><a href='/quiz_browse' class='btn btn-success' role='button'>Więcej quizów!</a></p>
			</div>
		</div>
		
		<div class="topic2">
			<div class="topic_name" style="margin-bottom: 2%;">
					Kategorie quizów
			</div>
			
			<% for (var i = 0; i < categories_name.length; i++) { %>
				<div class='col-sm-6 col-md-4'>
					<div class='thumbnail'>
						<div class='caption'>
							<h3 style="margin-top: 0; font-weight: bold;"><a href="quiz_browse?c=<%=i+1%>"><%=categories_name[i]%></a></h3>
						</div>
					</div>
				</div>
			<% } %>
			<div class="row" style="width: 100%;">
				<p><a href='/quiz_browse' class='btn btn-success' role='button'>Więcej quizów!</a></p>
			</div>
		</div>
	</body>
</html>