<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quizmaster - Logowanie</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body;>
		<%- include navbar.ejs %>
		
		<table width="100%" style="margin-top: 10%">
            <tr>
                <td width="50%" valign="top" align="center" style="border-right:solid ; border-width: 2px">
                    <p style="font-size: 30px">Zaloguj się</p>
                    <form class="form-horizontal" action="/loginme" method="post">
                        <input style="width: 60%" type="login" class="form-control" name="login" placeholder="Podaj login" required>
                        <br>
                        <input style="width: 60%" type="password" class="form-control" name="password" placeholder="Podaj hasło" autocomplete="off" required>
                        <br>
                        <button style="width: 50%" class="btn btn-success">Zaloguj</button>
                    </form>
                </td>
                <td width="50%" valign="top" align="center" style="border-left:solid; border-width: 2px">
                    <p style="font-size: 30px">Rejestracja</p>
                    <form class="form-horizontal" action="/regme" method="post">
                        <input style="width: 60%" type="login" class="form-control" name="login" placeholder="Podaj login" required>
                        <br>
                        <input style="width: 60%" type="password" class="form-control" name="password" placeholder="Podaj hasło" autocomplete="off" required>
                        <br>
                        <input style="width: 60%" type="password" class="form-control" name="password2" placeholder="Powtórz hasło" autocomplete="off" required>
                        <br>
                        <input style="width: 60%" type="email" class="form-control" name="email" placeholder="Podaj email" required>
                        <br>
                        <p style="font-size: 18px"><input type="checkbox" value="" required> Akceptuję regulamin serwisu</p>
                        <button style="width: 50%" class="btn btn-success">Rejestruj</button>
                    </form>  
                </td>
            </tr>
        </table>
	</body>
</html>