<nav class="navbar navbar-default">
			  <div class="container-fluid">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					  <a class="navbar-brand" href="/">Quizmaster</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class=<%= (current == "/") ? "active" : "" %>><a href="/"><span class="glyphicon glyphicon-home"></span> Strona główna</a></li>
							<li class=<%= (current == "/about") ? "active" : "" %>><a href="/about"><span class="glyphicon glyphicon-hand-right"></span> O nas</a></li>
							<li class=<%= (current == "/ranking") ? "active" : "" %>><a href="/ranking"><span class="glyphicon glyphicon-star"></span> Ranking</a></li>
							<li class=<%= (current == "/quiz_browse") ? "active" : "" %>><a href="/quiz_browse"><span class="glyphicon glyphicon-play-circle"></span> Rozwiąż quiz!</a></li>
							<% if( !(login == undefined ||  login == "" || login == null)) { %>
								<li class=<%= (current == "/quiz_add" || current == "/quiz_new") ? "active" : "" %>><a href="/quiz_new"><span class="glyphicon glyphicon-plus"></span> Stwórz quiz</a></li>
							<%}%>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<% if( login == undefined ||  login == "" || login == null) { %>
								<li><a href="/login"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
							<% } else { %>
								<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
							<%}%>
							<% if( !(login == undefined ||  login == "" || login == null)) { %>
								<li class=<%= (current == "/profile") ? "active" : "" %>><a href="/profile"><span class="glyphicon glyphicon-user"></span> Witaj <%=login%>!</a></li>
							<% } else { %>
								<li  class=<%= (current == "/login") ? "active" : "" %>><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Logowanie</a></li>
							<%}%>
						</ul>
					</div>
			  </div>
		</nav>