<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quizmaster - Profil</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<%- include navbar.ejs %>
		<div class="topic2">
			<div class="topic_name">
					Zmiana hasła
			</div>
			
			<div class="container" style="font-size: 20px; margin-top: 2%;">
				<p> Aby zmienić hasło twojego konta, podaj stare oraz nowe hasło.</p>
				
				<form class="form-horizontal" action="/changepw" method="post">
                    <input style="width: 50%; margin-left: 25%;" type="password" class="form-control" name="password1" placeholder="Podaj obecne hasło" autocomplete="off" required>
                    <br>
                    <input style="width: 50%; margin-left: 25%;" type="password" class="form-control" name="password2" placeholder="Podaj obecne hasło ponownie" autocomplete="off" required>
                    <br>
					<input style="width: 50%; margin-left: 25%;" type="password" class="form-control" name="password3" placeholder="Podaj nowe" autocomplete="off" required>
					<br>
                    <button style="width: 40%;" class="btn btn-success">Zmień hasło</button>
                </form>
				<br>
			</div>
		</div>
		
		<div class="topic2">
			<div class="topic_name">
					Twoje wyniki quizów
			</div>
			
			<div class="container" style="font-size: 20px; margin-top: 2%;">
				<% for(var i = 0; i < quiz_facts.length; i++) { %>					
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" href="#collapse<%=i%>">
										<% var myDate = new Date(quiz_facts[i].date)%>
										<% var minutes = ""; %>
										<% if(myDate.getMinutes() < 10) {minutes = "0" + myDate.getMinutes()} %>
										<% if(myDate.getMinutes() > 9) {minutes = myDate.getMinutes()} %>
										Wynik quizu: <%=quiz_facts[i].name%> [<%=myDate.getUTCDate()%>.<%=myDate.getMonth()+1%>.<%=myDate.getFullYear()%>r. - <%=myDate.getHours()%>:<%=minutes%>]
									</a>
								</h4>
							</div>
							<div id="collapse<%=i%>" class="panel-collapse collapse">
							  <ul class="list-group">
									<li class="list-group-item">
										<table class="table" style="font-size: 14px;">
											<thead>
												 <tr class="info">
													<th style="text-align: center;">Pytanie</th>
													<th style="text-align: center;">Twoja odpowiedź</th>
													<th style="text-align: center;">Poprawna odpowiedź</th>
												</tr>
											</thead>
											<tbody>
												<% for(var n = 0; n < quiz_facts_questions[i].length; n++) { %>
													<% var li_class = "danger";%>
													<% if(quiz_facts_questions[i][n].user_answer == quiz_facts_questions[i][n].correct_answer) {%>
													<% li_class = "success";} %>
													<tr class="<%=li_class%>">
														<td><%=quiz_facts_questions[i][n].body%></td>
														<td><%=quiz_facts_questions[i][n].user_answer%></td>
														<td><%=quiz_facts_questions[i][n].correct_answer%></td>
													</tr>
												<% } %>
											</tbody>
										</table>
									</li>
								  </ul>
							</div>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	</body>
</html>