<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quizmaster - Nowy quiz</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<%- include navbar.ejs %>
		
		<div class="topic2">
			<div class="topic_name">
					Witaj w kreatorze pytań Quizmaster!
			</div>
			<br>
			<h3> Wybierz ilość pytań, która znajdzie się w twoim quizie</h3>
			<form class="form-horizontal" action="/newquiz" method="post" style=margin-top:2%;">
				<p>
					Ilość pytań
					<select class="form-control" name="quiz_answers" id="sel1" style="width: 50%; display: inline;">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
					</select>
				</p>
				<br>
				<button style="width: 50%" class="btn btn-success">Dalej</button>
			</form>
			<br>
		</div>
	</body>
</html>