<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quizmaster - Wybierz quiz</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<%- include navbar.ejs %>
		
		<div class="topic2">
			<div class="topic_name">
				<p style="margin: 0; padding: 0; text-align: center;"> Wybierz quiz </p>
					
				<div class="btn-group" style="float: right; margin-right: 2%; display: inline; top: -32px;">
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"	 aria-expanded="false">
						Sortuj quizy<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="quiz_browse?p=<%=pageID%>&f=datedesc&c=<%=filter_category%>">Najnowsze</a></li>
						<li><a href="quiz_browse?p=<%=pageID%>&f=dateasc&c=<%=filter_category%>">Najstarsze</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="quiz_browse?p=<%=pageID%>&f=catasc&c=<%=filter_category%>">Kategoriami od A do Z</a></li>
						<li><a href="quiz_browse?p=<%=pageID%>&f=catdesc&c=<%=filter_category%>">Kategoriami od Z do A</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="quiz_browse?p=<%=pageID%>&f=nameasc&c=<%=filter_category%>">Alfabetycznie od A do Z</a></li>
						<li><a href="quiz_browse?p=<%=pageID%>&f=namedesc&c=<%=filter_category%>">Alfabetycznie od Z do A</a></li>
					</ul>
				</div>
			</div>
			
			<h2 style="color: red; clear: both; float: clear;"><%=error%></h2>
			<% var quiz_quantity = quiz.length; %>
			<div class="row" style="margin-top: 2%; width: 100%; ">
				<% for(var i = 0; i < quiz.length; i++) { %>
					<% if (i < 3) {%>
						<div class='col-sm-6 col-md-4'>
							<div class='thumbnail' id="quiz_browse">
								<div class='caption'>
									<h3 style="margin-top: 0; font-weight: bold; border-bottom: 1px solid black;"><%= quiz[i].name %></h3>
									<p> <%=quiz[i].description %></p>
									<p> Kategoria: <%= category_names[i] %></p>
									<p> Ilość pytań: <%= number_of_questions[i] %></p>
									<p> Poziom trudności:
										<div class="progress" style="width:80%; text-align: center; margin: auto;">
											<% var class_string = "progress-bar progress-bar-success"; var diff = "Łatwy";%>
											<% if(difficulty[i] > 39) { class_string = "progress-bar progress-bar-warning"; diff = "Średni";} %>
											<% if(difficulty[i] > 69) { class_string = "progress-bar progress-bar-danger"; diff = "Trudny";} %>
											<div class="<%=class_string%>" role="progressbar" aria-valuenow="<%=difficulty[i]%>"
											aria-valuemin="0" aria-valuemax="100" style="width:<%=difficulty[i]%>%; font-size: 16px; color: rgb(180,5,5);">
												<%=diff%>*
											</div>
										</div>
										*Na podstawie odpowiedzi graczy.
									</p>
									<% if (!logged) { %>
										<button style="width: 50%; position: absolute; left: 25%; bottom: 2%;" class="btn btn-primary disabled">Zaloguj się</button>
									<% } else { %>
										<form class="form-horizontal" action="/loadquiz" method="post">
											<input type="hidden" value=<%= quiz[i].quizID %> name="load_quiz_ID"/>
											<input type="hidden" value="<%= quiz[i].name %>" name="load_quiz_name" maxlength="100"/>
											<button style="width: 50%; position: absolute; left: 25%; bottom: 2%;" class="btn btn-primary">Rozwiąż</button>
										</form>
									<% } %>
								</div>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
			<div class="row" style="margin-top: 2%; width: 100%;">
				<% for(var i = 3; i < quiz.length; i++) { %>
					<% if (i < 6) {%>
						<div class='col-sm-6 col-md-4'>
							<div class='thumbnail' id="quiz_browse">
								<div class='caption'>
									<h3 style="margin-top: 0; font-weight: bold; border-bottom: 1px solid black;""><%= quiz[i].name %></h3>
									<p> <%=quiz[i].description %></p>
									<p> Kategoria: <%= category_names[i] %></p>
									<p> Ilość pytań: <%= number_of_questions[i] %></p>
									<p> Poziom trudności:
										<div class="progress" style="width:80%; text-align: center; margin: auto;">
											<% var class_string = "progress-bar progress-bar-success"; var diff = "Łatwy";%>
											<% if(difficulty[i] > 39) { class_string = "progress-bar progress-bar-warning"; diff = "Średni";} %>
											<% if(difficulty[i] > 69) { class_string = "progress-bar progress-bar-danger"; diff = "Trudny";} %>
											<div class="<%=class_string%>" role="progressbar" aria-valuenow="<%=difficulty[i]%>"
											aria-valuemin="0" aria-valuemax="100" style="width:<%=difficulty[i]%>%; font-size: 16px; color: rgb(180,5,5);">
												<%=diff%>*
											</div>
										</div>
										*Na podstawie odpowiedzi graczy.
									</p>
									<% if (!logged) { %>
										<button style="width: 50%; position: absolute; left: 25%; bottom: 2%;" class="btn btn-primary disabled">Zaloguj się</button>
									<% } else { %>
									<form class="form-horizontal" action="/loadquiz" method="post">
										<input type="hidden" value=<%=quiz[i].quizID%> name="load_quiz_ID"/>
										<button style="width: 50%; position: absolute; left: 25%; bottom: 2%;" class="btn btn-primary">Rozwiąż</button>
									</form>
									<% } %>
								</div>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
			<div class="row" style="margin-top: 2%; width: 100%;">
				<% for(var i = 6; i < quiz.length; i++) { %>
					<% if (i < 9) {%>
						<div class='col-sm-6 col-md-4'>
							<div class='thumbnail' id="quiz_browse">
								<div class='caption'>
									<h3 style="margin-top: 0; font-weight: bold; border-bottom: 1px solid black;""><%= quiz[i].name %></h3>
									<p> <%=quiz[i].description %></p>
									<p> Kategoria: <%= category_names[i] %></p>
									<p> Ilość pytań: <%= number_of_questions[i] %></p>
									<p> Poziom trudności:
										<div class="progress" style="width:80%; text-align: center; margin: auto;">
											<% var class_string = "progress-bar progress-bar-success"; var diff = "Łatwy";%>
											<% if(difficulty[i] > 39) { class_string = "progress-bar progress-bar-warning"; diff = "Średni";} %>
											<% if(difficulty[i] > 69) { class_string = "progress-bar progress-bar-danger"; diff = "Trudny";} %>
											<div class="<%=class_string%>" role="progressbar" aria-valuenow="<%=difficulty[i]%>"
											aria-valuemin="0" aria-valuemax="100" style="width:<%=difficulty[i]%>%; font-size: 16px; color: rgb(180,5,5);">
												<%=diff%>*
											</div>
										</div>
										*Na podstawie odpowiedzi udzielonych przez graczy.
									</p>
									<% if (!logged) { %>
										<button style="width: 50%; position: absolute; left: 25%; bottom: 2%;" class="btn btn-primary disabled">Zaloguj się</button>
									<% } else { %>
									<form class="form-horizontal" action="/loadquiz" method="post">
										<input type="hidden" value=<%=quiz[i].quizID%> name="load_quiz_ID"/>
										<button style="width: 50%; position: absolute; left: 25%; bottom: 2%;" class="btn btn-primary">Rozwiąż</button>
									</form>
									<% } %>
								</div>
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
			
			<div class="text-center">
				<ul class="pagination">
					<% var prev = "#"; if (!(pageID - 1 < 1)) {prev = "quiz_browse?p=" + String(pageID - 1)} %>
					<% var nextt = "#"; if (!(pageID + 1 > pag[pag.length-1])) {nextt = "quiz_browse?p=" + String(pag[pag.length-1])} %>
					<li class="active"><a href="<%=prev%>&f=<%=filter%>">PREV</a></li>
					<% for(var i = 0; i < pag.length; i++) { %>
						<% var li_class="" %>
						<% if (pag[i] == pageID) {li_class="active"} %>
						<li class=<%=li_class%>><a href="quiz_browse?p=<%=pag[i]%>&f=<%=filter%>&c=<%=filter_category%>"><%=pag[i]%></a></li>
					<% } %>
					<li class="active"><a href="<%=nextt%>&f=<%=filter%>">NEXT</a></li>
				</ul>
			</div>			
		</div>
	</body>
</html>