<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quizmaster - Nowy quiz</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		
	</head>
	<body>
		<%- include navbar.ejs %>
		
		<div class="topic2">
			<div class="topic_name">
					Stwórz własny quiz!
			</div>
					
					<form class="form-horizontal" action="/addquiz" method="post" style=margin-top:2%;">
                        <div class="row">
							<div class="col-sm-6 col-md-6" style="text-align: center;"> 
								Nazwa quizu 
							</div>
							<div class="col-sm-6 col-md-6" style="text-align: center;">
								<input style="width: 50%; display: inline;" type="text" class="form-control" name="quiz_name" maxlength="100" placeholder="Nazwa quizu" autocomplete="off" required>
							</div>
						</div>
                        <br>
						<div class="row">
							<div class="col-sm-6 col-md-6" style="text-align: center;">
								Krótki opis quizu
							</div>
							<div class="col-sm-6 col-md-6" style="text-align: center;">
								<input style="width: 50%; display: inline;" type="text" class="form-control" name="quiz_desc" placeholder="Opis quizu" maxlength="100" autocomplete="off" required>
							</div>
                        </div>
                        <br>
						<div class="row">
							<div class="col-sm-6 col-md-6" style="text-align: center;">
								Wybierz kategorię
							</div>
							<div class="col-sm-6 col-md-6" style="text-align: center;">
								<select class="form-control" name="quiz_cat" id="sel1" style="width: 50%; display: inline;"  autocomplete="off" required>
									<% for(var i = 0; i < categories.length; i++) { %>
										<option><%=categories[i]%></option>
									<% } %>
								</select>
							</div>
						</div>

						<div id="questions">
							<% var temp = -1; %>
							<% for(var i = 0; i < num_q / 3; i++) { %>
								<div class="row" style="margin-top: 2%">
									<% for(var n = 0; n < 3; n++) { %>
										<% var elem_num = temp + 1 + i %>
										<% if (elem_num <= num_q - 1) { %>
										<div class="col-sm-6 col-md-4">
											<div id="thumb1" class="thumbnail">
												<div class="caption">
													<h3>Pytanie <%=elem_num+1%></h3>
													<input type='hidden' name='quiz_question[null]' />
													<p>
														Treść
														<input style="width: 80%; display: inline;" type="text" class="form-control" name="quiz_question[<%=elem_num%>]" placeholder="Treść pytania" maxlength="100" autocomplete="off" required>
													</p>
													<p>
														Odpowiedź A
														<input style="width: 50%; display: inline;" type="text" class="form-control" name="quiz_ans_A[<%=elem_num%>]" placeholder="Odpowiedź A"  maxlength="40" autocomplete="off" required>
													</p>
													<p>
														Odpowiedź B
														<input style="width: 50%; display: inline;" type="text" class="form-control" name="quiz_ans_B[<%=elem_num%>]" placeholder="Odpowiedź B" maxlength="40" autocomplete="off" required>
													</p>
													<p>
														Odpowiedź C
														<input style="width: 50%; display: inline;" type="text" class="form-control" name="quiz_ans_C[<%=elem_num%>]" placeholder="Odpowiedź C" maxlength="40" autocomplete="off" required>
													</p>
													<p>
														Odpowiedź D
														<input style="width: 50%; display: inline;" type="text" class="form-control" name="quiz_ans_D[<%=elem_num%>]" placeholder="Odpowiedź D" maxlength="40" autocomplete="off" required>
													</p>
													<p>
														Poprawna odpowiedź
														<select class="form-control" name="quiz_answer[<%=elem_num%>]" id="sel1" style="width: 50%; display: inline;" autocomplete="off" required>
															<option>A</option>
															<option>B</option>
															<option>C</option>
															<option>D</option>
														</select>
													</p>
											  </div>
											</div>
										</div>
										<% if ((n + 1) % 3) { temp++; } %>
										<% } %>
										
									<% } %>
								</div>
							<% } %>
						</div>
						<br>
                        <button style="width: 50%" class="btn btn-success">Dodaj quiz!</button>
						<br>
						
						<input type="hidden" value="0" name="ans_number" id="ans_number" />
                    </form>
					<br>
			</div>	
		</div>
	</body>
</html>