<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quizmaster - Quiz</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<%- include navbar.ejs %>
		
		<div class="topic2">
			<div class="topic_name">
					Twój wynik 
			</div>
			
			<div class="container">
			  <h2>Odpowiedziałeś poprawnie na <%=score%> z <%=questions_ID.length%> pytań!</h2>
			  <p>Poniżej możesz sprawdzić swoje odpowiedzi a także które odpowiedzi były poprawne.</p>
			  <table class="table">
					<thead>
						 <tr class="info">
							<th style="text-align: center;">Pytanie</th>
							<th style="text-align: center;">Twoja odpowiedź</th>
							<th style="text-align: center;">Poprawna odpowiedź</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i = 0; i < questions_ID.length; i++) { %>
							<% var li_class = "danger";%>
							<% if(questions_answers[i] == correct_answer[i]) {li_class = "success";} %>
							<tr class="<%=li_class%>">
								<td><%=questions_body[i]%></td>
								<td><%=questions_answers[i] + ": " + questions_answers_body[i]%></td>
								<td><%=correct_answer[i] + ": " + correct_Body[i]%></td>
							</tr>
						<% } %>
					</tbody>
			  </table>
			</div>
			<form class="form-horizontal" action="/redirect" method="post">
				<button style="width: 50%" class="btn btn-success">Zakończ</button>
			</form>
			<br>
		</div>
	</body>
</html>