<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quizmaster - Quiz</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<%- include navbar.ejs %>
		<div class="topic2">
			<div class="topic_name">
					<%=quiz_name%>
			</div>
			<form class="form-horizontal" action="/validate_quiz" method="post">
				<input type="hidden" value="<%=quiz_ID%>" name="get_quiz_name"/>
				<% for(var i = 0; i < question.length; i++) { %>
				<input type="hidden" value=<%= question[i].questionID %> name="get_q_ID"/>
				<input type="hidden" value="<%= question[i].body %>" name="get_q_body"/>
				<div class="row" style="margin-top: 2%; width: 100%;">
					<div class='col-sm-12 col-md-12'>
						<div class='thumbnail'>
							<div class='caption'>
								<h3 style="margin-top: 0; font-weight: bold;"><%= question[i].body %></h3>
								<div class="funkyradio">
									<% var radio1 = String(1 + (4 * i)); %>
									<% var radio2 = String(2 + (4 * i)); %>
									<% var radio3 = String(3 + (4 * i)); %>
									<% var radio4 = String(4 + (4 * i)); %>
									<div style="float: clear; clear:both; text-align: center; margin: auto; padding: auto;">
										<input class="check-with-label" type="radio" name="radio[<%=i%>]" id="<%=radio1%>" value="A"/ required>
										<label class="label-for-check" for="<%=radio1%>"><%=question[i].A%></label>
									</div>
									<div style="float: clear; clear:both; text-align: center; margin: auto; padding: auto;">
										<input class="check-with-label" type="radio" name="radio[<%=i%>]" id="<%=radio2%>" value="B" />
										<label class="label-for-check" for="<%=radio2%>"><%=question[i].B%></label>
									</div>
									<div style="float: clear; clear:both; text-align: center; margin: auto; padding: auto;">
										<input class="check-with-label" type="radio" name="radio[<%=i%>]" id="<%=radio3%>" value="C" />
										<label class="label-for-check" for="<%=radio3%>"><%=question[i].C%></label>
									</div>
									<div style="float: clear; clear:both; text-align: center; margin: auto; padding: auto;">
										<input class="check-with-label" type="radio" name="radio[<%=i%>]" id="<%=radio4%>" value="D" />
										<label class="label-for-check" for="<%=radio4%>"><%=question[i].D%></label>
									</div>
								</div>						
							</div>
							<br><br>
						</div>
					</div>
				</div>	
				<% } %>
				<button style="width: 50%" class="btn btn-success">Zakończ quiz</button>
			</form>
			<br>
		</div>
	</body>
</html>