<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Quizmaster - Ranking</title>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<%- include navbar.ejs %>
		
		<div class="topic2">
			<div class="topic_name">
					Ranking graczy - najwięcej dodanych quizów
			</div>
			
			<p> Dziękujemy wam za wspieranie naszej społęczności! </p>
			<p> Poniżej przedstawiamy listę najbardziej aktywnych użytkowników naszego portalu. </p>
			
			<div class="row" style="margin-top: 2%; width: 70%; float: clear; clear:both; text-align: center; margin: auto; padding: auto;">
				<table class="table" style="font-size: 14px; width: 100%;">
					<thead>
						<tr class="info">
							<th style="text-align: center;">Lp.</th>
							<th style="text-align: center;">Gracz</th>
							<th style="text-align: center;">Dodanych quizów</th>
						</tr>
					</thead>
					<tbody>
						<% for(var i = 0; i < users.length; i++) { %>
						<tr class="info">
							<td><%=i+1%></td>
							<% var new_string = ""; var new_string2 = ""%>
							<% if (i == 0) { new_string="#ffd700";new_string2 = "glyphicon glyphicon-heart" } %>
							<% if (i == 1) { new_string="#c0c0c0";new_string2 = "glyphicon glyphicon-heart" } %>
							<% if (i == 2) { new_string="#f4a460";new_string2 = "glyphicon glyphicon-heart" } %>
							<% if (i > 2 && i < 10) { new_string="red";new_string2 = "glyphicon glyphicon-heart" } %>
							<td><span class="<%=new_string2%>" style="color:<%=new_string%>;" aria-hidden="true"></span>  <%=users[i].login%>  <span style="color:<%=new_string%>;" class="<%=new_string2%>" aria-hidden="true"></td>
							<td><%=users[i].quiz_num%></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
		<br><br>
	</body>
</html>