.navbar-default {
  background-color: #A9D0F5;
  border-color: #A9D0F5;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #656D78;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #819FF7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #FFFFFF;
  background-color: #819FF7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #819FF7;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #FFFFFF;
  background-color: #819FF7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: #819FF7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: #819FF7;
}
.navbar-default .navbar-toggle {
  border-color: #819FF7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #819FF7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #315ddf;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #315ddf;
    background-color: #A0D468;
  }
}

/* ----------------------------------
 * topic
 * ---------------------------------- */
.topic {
    position: relative;
    padding: 50px 0 110px;
	background-color: #8CC152;
}
.topic h3 {
    margin-top: 20px;
    color: #fff;
    font-size: 28px;
    font-weight: normal;
}
.topic h4 {
    margin-top: 15px;
    color: rgba(255, 255, 255, .8);
    font-weight: normal;
}
.topic .topic__infos {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    padding-top: 14px;
    background: rgba(255, 255, 255, 0.25);
    width: 100%;
}
.topic .container {
    position: relative;
    color: rgba(255, 255, 255, .8);
}
.topic .container a {
    color: #fff;
    filter:alpha(opacity=100);
    opacity: 1;
    text-decoration: underline;
    padding: 0;
    font-weight: normal;
}
.topic .container a.btn {
    padding: 10px 16px;
    text-decoration: none;
}
.topic .github {
    position: relative;
    top: 10px;
}

div.thumbnail {
	background-color: rgba(255, 255, 255, 0.3);
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

div.thumbnail[id="quiz_browse"] {
	height: 320px;
	position:relative;
}

div.topic2 {
	//background-image: url('http://www.designbolts.com/wp-content/uploads/2014/03/Sea-green-blur-background1.jpg');
	background-color: #BEF781;
	background-size: 100% 100%;
	text-align: center;
	margin-top: 2%;
	border-radius: 5px;
}

div.topic_name {
	font-size: 22px;
	text-align: center;
	color: #000000;
	background-color: rgba(255, 255, 255, 0.3);
	border: 1px solid;
	border-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

body {
	background-color: #CEF6D8;
	height: 100%;
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

footer, push{
	clear: both;
    position: relative;
    z-index: 10;
	height: 6em;
	background-color: #A9D0F5;
	width: 100%;
	padding: 0;
	margin-top: 2%;
	border-style: solid;
    border-top: solid green;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

label {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #819FF7;
	text-align: center;
	left: 20%;
	width: 60%;
}

.check-with-label:checked + .label-for-check {
	background-color: rgba(0, 204, 0, 0.15);
}

input[type="radio"]:empty {
    margin-left: -9999px;
}

input[type="radio"]:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="radio"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #819FF7;
    border-radius: 3px 0 0 3px;
}

input[type="radio"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .01em;
	text-align: center;
    color: #FFFFFF;
}

input[type="radio"]:hover:not(:checked) ~ label {
   // color: #FFFFFF;
}

input[type="radio"]:checked ~ label:before {
    content:'\2714';
    text-indent: .01em;
    color: #FFFFFF;
    background-color: #4DCB6D;
}

input[type="radio"]:checked ~ label {
    // color: green;
}

input[type="radio"]:focus ~ label:before {
    // box-shadow: 0 0 0 3px green;
}